
header, section, aside, footer {
  padding: 30px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #55552b;
  border-bottom: 5px solid #55552b;
}

/* WRITE YOUR CODE BELOW HERE */

* {
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  background-color: white;
}

/*Size 10 font seemed a little small for the font Lato, so I changed it to 12*/

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  background-color: #99994d;
}

h1 {
  font-size: 2.7rem;
  text-align: center;
  font-family: 'Spectral SC', serif;
}

h2 {
  font-size: 1.8rem;
  font-family: 'Spectral SC', serif;
}

aside {
  text-align: center;
  padding: 40px;
}

a:hover {
  color: #a30000;
  text-decoration: none;
}

section {
  margin-right: 60px;
  margin-left: 20px;
}

nav {
  position: absolute;
  top: 130px;
  right: 10px;
  word-spacing: 30px;
}

.link2 {
  font-style: italic;
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: black;
}

footer {
  text-align: center;
}

.footer {
  font-size: 0.8rem;
}

main {
  display: flex;
  margin: 20px;
  padding: 30px;
  background-image: url(images/collegepic.jpg);
  background-position: center;
  background-size: 1500px;
  background-blend-mode: overlay;
  background-color: rgba(0,0,0,0.17);
}
